[Unit]
Description=Watch Markdown Vault
After=default.target

[Service]
WorkingDirectory=/opt/md-tracker
ExecStart=/bin/bash /opt/md-tracker/md-watcher.sh
Restart=always

[Install]
WantedBy=default.target