[Unit]
Description=Monitor Script Service
After=network.target

[Service]
# Carregar variáveis do arquivo de configuração
EnvironmentFile=/etc/md-watcher/config

WorkingDirectory=/opt/md-tracker

ExecStart=/bin/bash ${WATCHER_SCRIPT} ${PYTHON_SCRIPT} "${MONITORED_DIRS}"

[Install]
WantedBy=multi-user.target
